<a href="https://colab.research.google.com/github/JoseReveco/MinorMachineLearning/blob/main/ProyectoFinal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Primero subiremos el archivo con la información (WISDM_ar_v1.1_raw.txt) a Google Drive, debido a que es bastante pesado y se tarda bastante (o no deja) al subirlo directamente a Collab.

PD: Al parecer, algunas filas les faltaba el salto de linea, no se si sólo será mi caso. Pero si más adelante les da error al momento de usar pandas, esto porque las cantidades de columnas no concuerdan con el separador ",". Como lo resolví fue editando el txt a mano y luego re-subiendolo a google drive. En cualquier caso, dejaré el link con el archivo subido a drive para que lo puedan bajar y ocuparlo si les da el problema:


Luego montaremos nuestra cuenta de Google drive: https://drive.google.com/file/d/11GYh6vD8kC4F8aL21WXTX6KLOAqk3gFZ/view?usp=sharing

In [45]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Una vez el drive se encuentra montado, guardaremos el archivo en una variable:

In [1]:
path = '/content/drive/MyDrive/Colab Notebooks/WISDM_ar_v1.1_raw.txt'
raw_data = open('/content/drive/MyDrive/Colab Notebooks/WISDM_ar_v1.1_raw.txt','r')

Ahora para ver la información simplemente colocamos el nombre de la variable y le damos a ejecutar:

In [7]:
raw_data.readline(8329097)

'33,Jogging,49106332290000,-1.1849703,12.108489,7.205164;\n'

Usaremos panda para que se vea más ordenado:

In [11]:
import pandas as pd
data = pd.read_csv(path, sep=",", header=None, names=["user", "activity" ,"timestamp", "x-acceleration", "y-accel", "z-accel"])
data.head()

   user activity       timestamp  x-acceleration    y-accel       z-accel
0    33  Jogging  49105962326000       -0.694638  12.680544   0.50395286;
1    33  Jogging  49106062271000        5.012288  11.264028   0.95342433;
2    33  Jogging  49106112167000        4.903325  10.882658  -0.08172209;
3    33  Jogging  49106222305000       -0.612916  18.496431    3.0237172;
4    33  Jogging  49106332290000       -1.184970  12.108489     7.205164;

Cabe destacar que el txt posee en algunos casos una "," al final de la fila, cosa que hace pensar a pandas que posee 7 columnas, por lo tanto creamos 7 columnas y luego eliminaremos la septima.

In [12]:
import pandas as pd
data = pd.read_csv(path, sep=",", header=None, names=["user", "activity" ,"timestamp", "x-acceleration", "y-accel", "z-accel", "del"])
data.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

   user activity       timestamp  x-acceleration    y-accel       z-accel  del
0    33  Jogging  49105962326000       -0.694638  12.680544   0.50395286;  NaN
1    33  Jogging  49106062271000        5.012288  11.264028   0.95342433;  NaN
2    33  Jogging  49106112167000        4.903325  10.882658  -0.08172209;  NaN
3    33  Jogging  49106222305000       -0.612916  18.496431    3.0237172;  NaN
4    33  Jogging  49106332290000       -1.184970  12.108489     7.205164;  NaN

La eliminaremos con:

In [ ]:
data = data.drop('del', axis=1)

In [16]:
data.head(8329097)

,user,activity,timestamp,x-acceleration,y-accel,z-accel
0,33,Jogging,49105962326000,-0.694638,12.680544,0.50395286;
1,33,Jogging,49106062271000,5.012288,11.264028,0.95342433;
2,33,Jogging,49106112167000,4.903325,10.882658,-0.08172209;
3,33,Jogging,49106222305000,-0.612916,18.496431,3.0237172;
4,33,Jogging,49106332290000,-1.184970,12.108489,7.205164;
...,...,...,...,...,...,...
1098204,19,Sitting,131623331483000,9.000000,-1.570000,1.69;
1098205,19,Sitting,131623371431000,9.040000,-1.460000,1.73;
1098206,19,Sitting,131623411592000,9.080000,-1.380000,1.69;
1098207,19,Sitting,131623491487000,9.000000,-1.460000,1.73;
1098208,19,Sitting,131623531465000,8.880000,-1.330000,1.61;

Referencias:
1. https://www.cis.fordham.edu/wisdm/dataset.php
2. https://stackoverflow.com/questions/21546739/load-data-from-txt-with-pandas
3. https://levelup.gitconnected.com/how-to-code-and-graph-101-in-google-colaboratory-with-pictures-cdfb724a5f8b